.thumbnail img {
     width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

.delete-form{
    display: inline;
}

/* body {
    background-color: peachpuff;
} */
.navbar-default {    
    opacity: 1;
    z-index: 1;
    border: 0ch;
}
